
@foreach (var i in ViewBag.num)
{
    @i
}


@foreach (var i in ViewBag.num)
{
    @(i+" ")
}


@foreach (var i in ViewBag.num)
{
    @i<text> </text>}

<ul>
@foreach (var i in ViewBag.num)
{
  <li>@i</li>
}
</ul>

@foreach (var i in ViewBag.num)
{
@:@i
}

@foreach (var i in ViewBag.num)
{
<text>@i</text>
}